# Project 4

In this project, you will summarize and present your analysis from Projects 1-3.

### Intro: Write a problem Statement/ Specific Aim for this project

Answer: Determine based in defined historical information regarding test results and school rankings if a student will be admitted in college

### Dataset:  Write up a description of your data and any cleaning that was completed

Answer: The data is composed by information regarding school rank, SAT and GPA results from a defined number of students and collected during a year in particular. The admit column includes if the student was admitted or not in college. 

The data dictionary can be find below: 

Variable | Description | Type of Variable
---| ---| ---
Admitted | 0 = not admitted 1 = admitted | categorical
GRE | score from GRE 0-800| continuous 
GPA| score from GPA 0-4| continous
Prestige| 0= less pretigeous 4=more prestigeous. Steps of 1| categorical

Cleaning up was done in rows which were lacking of any data value in particular, deleting 3 of them in total out of the 400 present.

### Demo: Provide a table that explains the data by admission status

In [9]:
#imports
from __future__ import division
from pandas.core import datetools
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pylab as pl
import numpy as np
%matplotlib inline

#Read in data from source 
df_raw = pd.read_csv("./datasets/admissions.csv")
df = df_raw.dropna() 

df.groupby(['admit','prestige']).count()

                gre  gpa
admit prestige
0     1.0        28   28
      2.0        95   95
      3.0        93   93
      4.0        55   55
1     1.0        33   33
      2.0        53   53
      3.0        28   28
      4.0        12   12

In [27]:
df.pivot_table(index='admit', columns='prestige', values='gpa', aggfunc='count')

prestige  1.0  2.0  3.0  4.0
admit
0          28   95   93   55
1          33   53   28   12

### Methods: Write up the methods used in your analysis

Answer: Logistic regression is a linear approach to solving a classification problem and will be the one used in this project due to the nature of the variables

### Results: Write up your results

Answer: 
        ![Image](https://raw.githubusercontent.com/alfredorojas1990/gadatascience/master/Screen%20Shot%202018-04-23%20at%204.33.52%20PM.png)

![Image](https://raw.githubusercontent.com/alfredorojas1990/gadatascience/master/Screen%20Shot%202018-04-23%20at%204.33.59%20PM.png)

### Visuals: Provide a table or visualization of these results

![Image](https://raw.githubusercontent.com/alfredorojas1990/gadatascience/master/Screen%20Shot%202018-04-23%20at%204.37.44%20PM.png)

### Discussion: Write up your discussion and future steps

Answer: It was possible to reproduce a way in which based in the variables provided we can predict if a student will be admitted in college. The more variables that can be classfied and included in the future can help to improve the trust in the algorithm and make it more adaptable to different situations.

On top of that the data points can be expanded, including other schools, time frames or different colleges.